header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5ffca1;
    box-shadow: 0 5px 5px #70bb90;
}

.nav-inicio {
    padding: 1%;
    margin: auto;
}

a:hover {
    background-color: #6df06d;
    color: #ec9f10;
    padding: 10px;
    transform: rotateZ(342deg);
    transition: 3s;
}

a:active {
    background-color: #075f5c;
    color: black;
}

ul {
    font-family: cursive;
    font-size: 18px;
    list-style-type: none;
    display: flex;
}

a {
    margin: 15px;
    color: #080808;
    text-decoration: none;
    font-family: cursive;
}

@mixin titulos($color-h1) {
    color: $color-h1;
    padding: 2%;
    text-decoration: overline;
    font-size: 35px;
}

.t-inicio {
    @include titulos(#683ab1);
}

.t-conocenos {
    @include titulos(#e7f706);
}

.t-locales {
    @include titulos (#f804f8);
}

.t-productos {
    @include titulos (#077fc4);
}

.t-contacto {
    @include titulos (#fa7304);
}

header img {
    width: 200px;
}

.foto-principal {
    width: 1000px;
    display: flex;
    align-items: center;
    margin: auto;
}